@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.body-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;

    height: 100vh;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-items: center;

    text-transform: capitalize;
    padding: 15px;
    background-color: #cb9e71;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
}

/* Navigation */
.nav-link {
    display: inline-flex;
    font-size: 20px;
    margin-inline: 15px;
    padding: 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #F7F8F6;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    margin: 5px;
    padding: 10px;
    background-color: #414455;
}

/* Searching field. (might not be used) */
.input {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    max-height: max-content;
    margin: 20px auto;
}

/* Loading svg */
.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

svg {
    max-width: 25em;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000;
    background: #cb9e71;
    fill: none;
    stroke: #F7F8F6;
    stroke-linecap: round;
    stroke-width: 8%
}

use {
    stroke: #414455;
    animation: a 2s linear infinite
}

@keyframes a {
    to {
        stroke-dashoffset: 0px
    }
}

/* Main Container */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-items: flex-start;

    margin: 0 auto;
}

/* Game cards */
.game-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;

    background-color: #F7F8F6;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
}

.game-card:hover {
    color: black;
    box-shadow: 0px 5px 16px 5px rgba(255, 255, 255, 0.486);
}

.card-info {
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px;
    background-color: #F7F8F6;
}

.game-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-template-areas:
        ". header header header ."
        ". image image image ."
        ". image2 image2 image2 ."
        ". description description description ."
        ". requirements requirements publisher .";
    gap: 5px;

    margin: 0 auto;
}

.game-header {
    grid-area: header;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    color: #F7F8F6;
    align-items: center;
}

/* Image styling */
.game-image {
    grid-area: image;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    margin: 0 250px;
}

.ratio-box {
    width: 100%;
    height: 0;
    padding-top: calc(100% * (9/16));
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.image-gallery {
    grid-area: image2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

}

.game-description {
    grid-area: description;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    color: #F7F8F6;
    padding: 15px;
}

.system-requirements {
    grid-area: requirements;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    color: #F7F8F6;
    padding: 15px;
}

.publisher {
    grid-area: publisher;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    color: #F7F8F6;
    padding: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Contact form */
.form-container {
    width: calc(100% /2 + 20px);
    background-color: #cb9e71;
    padding: 15px;
    margin: auto;
}

.form-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    justify-content: center;
    margin: 1.5em;
    color: #F7F8F6;
}

.form-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    gap: 15px;
    margin: 1.5em;
}

.form-fields {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

}

.form-fields > label {
    color: #F7F8F6;
    margin-bottom: .25em;
}

.form-fields > input {
    padding: 15px;
    color: #000;
    border: 0;
}

.form-fields > input:focus {
    border: 1px solid black;
    outline: none;
}

.form-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    justify-items: center;
    margin: 1.5em;

}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    padding: 15px;

    background-color: #cb9e71;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
}

/* Button styling */
.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.cta-btn,
.cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding: .75em;

    background-color: #F7F8F6;
}

.cta:hover {
    background-color: #414455;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.25);
}

/* MediaQueries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .game-display {
        grid-template-columns: repeat(1, 1fr);
    }

    .game-image {
        margin: 0 0;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1155px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1155px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1535px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}